[coverage:run]
include =
    api/*
plugins =
	coverage_conditional_plugin
omit =
    api/tests/*
    api/migrations/*

[coverage:coverage_conditional_plugin]
rules =
    "{'TEST_SUBSCRIPTION_SETUP_DAEMON_DO_SUBSCRIPTION', 'CI'}.isdisjoint(frozenset(os_environ.keys()))": testing-subscription-setup-daemon-do-subscription
