[coverage:run]
include =
    api/*
    query_utils/*
omit =
    api/tests/*
    api/migrations/*
    query_utils/tests/*
dynamic_context = test_function

[coverage:report]
skip_empty = True

[coverage:html]
show_contexts = True
