[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {version = "*", extras = ["argon2"]}
djangorestframework = "*"
feedparser = "*"
requests = "*"
ujson = "*"
pyparsing = "*"
python-dateutil = "*"
defusedxml = "*"
lxml = "*"
xmlschema = "*"
url-normalize = "*"
bleach = {version = "*", extras = ["css"]}
html5lib = "*"
validators = "*"
tabulate = "*"
django-cors-headers = "*"
gunicorn = { verson = "*", extras = ["gthread"]}
psycopg2 = "*"
django-redis = "*"
drf-spectacular = {version = "*", extras = ["sidecar"]}
# how it should be specified: will install dj-rest-auth *AND* django-allauth via `extras`
# dj-rest-auth = {version = "*", extras = ["with_social"]}
# pinned until integration with django-allauth fixed (last checked at 5.0.1)
# issue https://github.com/iMerica/dj-rest-auth/issues/503
dj-rest-auth = ">=4.0.1,<5.0.0"
django-allauth = ">=0.40.0,<0.55.0"
# end pinning
drf_ujson2 = "*"
captcha = "*"
lingua-language-detector = "*"
beautifulsoup4 = "*"
dramatiq = {version = "*", extras = ["redis", "watch"]}
apscheduler = "*"
django-apscheduler = "*"
python-redis-lock = {version = "*", extras = ["django"]}
django-csp = "*"
django-silk = "*"

[dev-packages]
coverage = "*"
codecov = "*"
unittest-xml-reporting = "*"
packaging = "*"
black = "24.4.2"
isort = "*"
django-stubs = { version = "*", extras = ["compatible-mypy"] }
djangorestframework-stubs = { version = "*", extras = ["compatible-mypy"] }
types-bleach = "*"
types-python-dateutil = "*"
types-tabulate = "*"
types-ujson = "*"
types-requests = "*"
types-html5lib = "*"
types-Pillow = "*"
types-beautifulsoup4 = "*"
tblib = "*"
lxml-stubs = "*"
watchdog = "*"
inotify = "*"

[requires]
python_version = "3.12"
