[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {version = "*", extras = ["argon2"]}
djangorestframework = "*"
feedparser = "*"
requests = "*"
ujson = "*"
pyparsing = "*"
python-dateutil = "*"
google-auth = "*"
facebook-sdk = "*"
defusedxml = "*"
lxml = "*"
xmlschema = "*"
url-normalize = "*"
bleach = {version = "*", extras = ["css"]}
html5lib = "*"
validators = "*"
tabulate = "*"
django-cors-headers = "*"
django-cprofile-middleware = "*"
daphne = "*"
psycopg2 = "*"
django-redis = "*"
drf-yasg = "*"
dj-rest-auth = {version = "*", extras = ["with_social"]}
drf_ujson2 = "*"

[dev-packages]
coverage = "*"
codecov = "*"
unittest-xml-reporting = "*"
coverage-conditional-plugin = "*"
packaging = "*"
black = "*"
isort = "*"
django-stubs = { version = "*", extras = ["compatible-mypy"] }
djangorestframework-stubs = { version = "*", extras = ["compatible-mypy"] }
types-bleach = "*"
types-python-dateutil = "*"
types-tabulate = "*"
types-ujson = "*"
types-requests = "*"
types-html5lib = "*"
tblib = "*"
lxml-stubs = "*"
watchdog = "*"

[requires]
python_version = "3.11"
