[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "*"
feedparser = "*"
requests = "*"
"argon2_cffi" = "*"
ujson = "*"
pyparsing = "*"
python-dateutil = "*"


[dev-packages]



[requires]

python_version = "3.6"
