[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
feedparser = "*"
requests = "*"
"argon2-cffi" = "*"
ujson = "*"
pyparsing = "*"
python-dateutil = "*"
filelock = "*"
google-auth = "*"
facebook-sdk = "*"
html-sanitizer = "*"
defusedxml = "*"
lxml = "*"
xmlschema = "*"
url-normalize = "*"

[dev-packages]
codecov = "*"
Faker = "*"

[requires]
