[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
feedparser = "*"
requests = "*"
"argon2-cffi" = "*"
ujson = "*"
pyparsing = "*"
python-dateutil = "*"
filelock = "*"
google-auth = "*"
facebook-sdk = "*"
defusedxml = "*"
lxml = "*"
xmlschema = "*"
url-normalize = "*"
enum34 = {version = "*",python_version = "<'3.4'"}
django-ipware = "*"
quick-email = "*"
bleach = "*"
html5lib = "*"
validators = "*"
tabulate = "*"
djangorestframework = "*"
django-filter = "*"
drf-yasg = "*"

[dev-packages]
coverage = "*"
codecov = "*"
Faker = "*"
unittest-xml-reporting = "*"
coverage-conditional-plugin = "*"
packaging = "*"

[requires]
python_version = "3.6"
